<dom-module id="duplicator-component-one-way-up">
	<template>
		<button on-click="_duplicator">Duplicate</button>
	</template>

	<script>
		Polymer({
			is: 'duplicator-component-one-way-up',
			properties: {
				toDuplicate: {
					type: Number,
					notify: true,
					readOnly: true,
					value: 9
				},
			},
			_duplicator: function(toDuplicate) {
				var doubleValue = this.toDuplicate * 2;
				this.set('toDuplicate', doubleValue);
				console.log("doubled: ", this.toDuplicate);
			}
		});
	</script>
</dom-module>
