<link rel="import" href="../../../../iron-ajax/iron-ajax.html">
<dom-module id="user-requester">
	<template>
		<button on-click="_launch">Launch</button>
		<iron-ajax id="ajax" url="mocks.json" handle-as="json" on-response="_handleResponse" last-response="{{user}}"></iron-ajax>
	</template>

	<script>
		Polymer({
			is: 'user-requester',
			properties: {
				user: {
					type: Object,
					notify: true
				}
			},
			_handleResponse: function(event, request) {
				console.log("Yeah!, I have retrieved an user: ", request.response);
			},
			_launch: function() {
				this.$.ajax.generateRequest();
			}
		});
	</script>
</dom-module>
