<dom-module id="car-parser">
	<template>
		<ul>
			<li>Brand: {{car.brand}}</li>
			<li>Wheels model: {{car.wheels.model}}</li>
			<li>Wheels number: {{car.wheels.number}}</li>
			<li>Wheels color: {{car.wheels.color}}</li>
			<li>Car color: {{car.color}}</li>
		</ul>
	</template>

	<script>
		Polymer({
			is: 'car-parser',
			properties: {
				car: {
					type: Object,
					value: function() {
						return {
							brand: 'HONDA',
							wheels: {
								model: 'pisoner',
								number: 4,
								color: 'black'
							},
							color: 'red'
						}
					}
				}
			}
		});
	</script>
</dom-module>
